/* Root */
:root{
    --background: #152733;
}
/* Painel */
.icon{
   font-size:15px;
}
img .user{
    max-width: 80%;
    height: auto;
}
.User-information .image{
    max-width: 80%;
}
/* Index */
.index{
    background-color: var(--background);
}
.section-img{
    background-repeat: no-repeat;
    background-image: url("/images/background-index.png");
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
/* utilities */
.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
/* restaurants */
.carrousel-restaurants{
    width: 150px;
}.carrousel-restaurants .image{
  background-repeat: no-repeat;
}
.section-recently-opened img{
    width:160px;
    height:150px;
}
.section-top-categories .categories{
    object-fit: contain;
    transition: width 0.25s,height 0.25s,background-size 0.5s;
    width: 350px;
    height: 300px;
    background-size:115%!important;
    
}
.section-top-categories .categories:hover{
    object-fit: contain;
    -webkit-transition: width 0.25s; /* For Safari 3.1 to 6.0 */
    transition: width 0.25s,height 0.25s,background-size 0.5s;
    background-size:110%!important;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    
}