/* Root */
:root{
    --background: #152733;
}
/* Painel */
.icon{
   font-size:15px;
}
img .user{
    max-width: 80%;
    height: auto;
}
.User-information .image{
    max-width: 80%;
}
/* Index */
.index{
    background-color: var(--background);
}
.section-img{
    background-repeat: no-repeat;
    background-image: url("/images/background-index.png");
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
/* utilities */
.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
/* restaurants */
.carrousel-restaurants{
    width: 150px;
}
.section-recently-opened img{
    width:160px;
    height:150px;
}
.section-top-categories .categories{
    width: 350px;
    height: 300px;
}