/* Painel */
.icon{
   font-size:15px;
}
img .user{
    max-width: 80%;
    height: auto;
}
.User-information .image{
    max-width: 80%;
}
/* utilities */
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  