<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--angularjs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="testModule">
    <div class="teste" ng-controller="testController">
            <ul ng-repeat="delivers in delivery">
                    <li>{{delivers.Restaurant}}</li>
                    <li>{{delivers.Type}}</li>
                    <li>{{delivers.Location}}</li>
                    <li>{{delivers.Number}}</li>
                    <ul ng-repeat="x in food">
                            <li>{{x.Prices}}</li>
                            <li>{{x.Ingredients}}</li>
                            <li>{{x.Preparation_Time}}</li>        
                    </ul>
            </ul>  
            
            
            
    </div>
</body>
<script>
    var app = angular.module('testModule',[]);
    app.controller('testController',function($scope,$http){
        $http.get('/delivery').then(function(response){
            $scope.delivery = response.data;
            $scope.test = response.data[0]["Menu"];
                //foreach for menu array
                angular.forEach($scope.delivery,function(key,value){
                    $scope.food = key["Menu"];
                });
        });
        
    });
</script>
</html>